<launch>

  <!-- Use CPP node by default for nao_sensors -->
  <arg name="force_python" default="true" />
  <arg name="nao_ip" default="$(optenv NAO_IP 192.168.0.103)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
    
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" clear_params="true">
    <rosparam command="load" file="$(find nao_bringup)/config/nao_analysers.yaml" />
  </node>

  <include file="$(find nao_description)/launch/nao_v4_publisher.launch" />
  
  <!-- Start nodes in their python variant (only when setting force_python:=true during launch) -->
  <group if="$(arg force_python)">
    <node pkg="nao_driver" type="nao_sensors.py" name="nao_sensors" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
  </group>
  
  <!-- Start nodes in their C++ variant (default, when force_python:=false) -->
  <group unless="$(arg force_python)">
    <node pkg="nao_driver" type="nao_sensors_cpp" name="nao_sensors" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
  </group>

  <!-- All other nodes (only exist in one varian) -->
  
  <node pkg="nao_driver" type="nao_walker.py" name="nao_walker" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
  <node pkg="nao_driver" type="nao_controller.py" name="nao_controller" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
  <node pkg="nao_driver" type="nao_behaviors.py" name="nao_behaviors" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
  <node pkg="nao_driver" type="nao_leds.py" name="nao_leds" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
  <node pkg="nao_driver" type="nao_speech.py" name="nao_speech" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen"/>
  <node pkg="nao_driver" type="nao_tactile.py" name="nao_tactile" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
  
  <node pkg="nao_pose" type="pose_manager.py" name="pose_manager">
    <rosparam file="$(find nao_pose)/config/basic_poses.yaml" command="load" ns="poses" />
    <!-- You can define here a path to a Choregraphe posture library (XAP file). -->
    <param name="xap" value="$(find nao_pose)/config/basic.xap" />
  </node>
  
  <node pkg="nao_driver" type="nao_camera.py" name="nao_camera" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen">
     <param name="calibration_file_bottom" type="string" value="file://$(find nao_driver)/config/nao_bottom_640x480.yaml"/>
     <param name="calibration_file_top" type="string" value="file://$(find nao_driver)/config/nao_top_640x480.yaml"/>
     <param name="resolution" type="int" value="2" /> <!--QQVGA=0, QVGA=1, VGA=2 -->
     <param name="color_space" type="int" value="13" /> <!-- 9 = YUV422, 11 = RGB, 13 = BGR -->
     <param name="fps" type="int" value="30" />
     <!-- <param name="camera_switch" type="int" value="1" /> --> <!-- 0 = top, 1 = bottom -->
  </node>

</launch>
